<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    ul > li {
      /* width: 20px;
      height: 20px;
      background-color: red; */
    }
  </style>
  <link rel="stylesheet" href="./components/dialog.css">
  <link rel="stylesheet" href="./components/datepicker.css">
</head>
<body style="margin: 0;">
  <div id="app">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- <k-dialog :show="isShow" @close="close">
    </k-dialog> -->
    <!-- <demo></demo> -->
    <!-- <k-datepicker :show="isShow" @close="close"></k-datepicker> -->
    <!-- <k-datepicker v-if="datepickerShow" @sure-click="sureClick" @cancel-click="datepickerShow = false"></k-datepicker> -->
    <div style="padding: 20px;">
      <k-selector :is-open.sync="isShow" v-model="haha" :options="options" @change="change"></k-selector>
    </div>
    <button @click="open">打开</button>
  </div>
</body>
<script src="./node_modules/vue/dist/vue.js"></script>
<!-- <script src="./components/better-scroll.js"></script>
<script src="./components/dialog.js"></script>
<script src="./components/datepicker.js"></script> -->
<script src="./index.js"></script>
</html>