.k-dialog {
  width: 82%;
  min-height: 40px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 4px;
  padding: 0 14px;
  z-index: 1001; }
  .k-dialog .header {
    padding: 14px 0; }
    .k-dialog .header .title {
      font-size: 16px;
      text-align: center; }
    .k-dialog .header .close {
      position: absolute;
      width: 12px;
      right: 14px;
      top: 25px;
      transform: translateY(-50%); }
  .k-dialog .content {
    padding: 10px 0; }

.k-mask {
  width: 100vw;
  height: 100vh;
  opacity: .65;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
